<!-- <h2>PC GAMER perfecta para lo que sea</h2> -->
<div class="swiper mySwiper2">
  <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Gabinetes/product-section-01.png" alt=""></div>
            <div class="titulo">PC gamer Gama Alta</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Gabinetes/HBJNKHG+NM.png" alt=""></div>
            <div class="titulo">PC gamer gama media</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama Custom</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Gabinetes/Pngs-Febrero-1-gabinete-Yeyian.png" alt=""></div>
            <div class="titulo">PC gamer gama baja</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/Call-of-Duty-Black-Ops 6.jpeg" alt=""></div>
            <div class="titulo">PC Gamer para Jugar Call of Duty Black Ops 6</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/GTA-VI.jpeg" alt=""></div>
            <div class="titulo">PC Gamer para jugar GTA VI</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/MV5BNzU2YTY2OTgtZGZjZi00MTAyLThlYjUtMWM5ZmYzOGEyOWJhXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_FMjpg_UX1000_.jpg" alt=""></div>
            <div class="titulo">PC Gamer para Fortnite</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/overwatch-2-beta-nasil-indirilir150146_0.jpg" alt=""></div>
            <div class="titulo">PC Gamer para OverWatch 2</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/max-duzij-qAjJk-un3BI-unsplash-1.jpg" alt=""></div>
            <div class="titulo">PC Gamer para Streaming</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/emily-bernal-v9vII5gV8Lw-unsplash-scaled.jpg" alt=""></div>
            <div class="titulo">Computadoras para Diseño gráfico</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/pexels-mo-eid-8657665-scaled.jpg" alt=""></div>
            <div class="titulo">Workstation para Modelado y Diseño 3D</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/pcgamercdmx.net/alex-mccarthy-imfPjidI-QA-unsplash.jpg" alt=""></div>
            <div class="titulo">Computadoras para Edición de Video</div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination2"></div>
  </div>