<div class="swiper mySwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Gabinetes/product-section-01.png" alt=""></div>
            <div class="titulo">PC gamer Gama Alta</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Gabinetes/HBJNKHG+NM.png" alt=""></div>
            <div class="titulo">PC gamer gama media</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama Custom</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama baja</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC Gamer para Jugar Call of Duty Black Ops 6</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama baja</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama baja</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama baja</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama baja</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-item">
            <div class="imgcategoria"><img src="../../Img/Custom/IMG-20250208-WA0056.jpg" alt=""></div>
            <div class="titulo">PC gamer gama baja</div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination2"></div>
  </div>