 /* Card de productos */
 .swiper {
    width: 1300px !important;
    height: 75vh; /* Permite que Swiper ajuste dinámicamente su altura */
    padding: 0 20px; /* Espaciado lateral dentro del slider */
    background-color: #080F19 !important;
}

.swiper-wrapper {
    display: flex;
}

.swiper-backface-hidden .swiper-slide {
    padding-top: 20px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: auto; /* Ajusta el ancho automáticamente */
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Espaciado lateral entre slides */
}

.card-list {
    display: block; /* Evita conflictos con Swiper */
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-item {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b5c3c571;
    padding: 30px 20px;
    margin: 30px 10px;
    border-radius: 10px;
    box-shadow:  0 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Las cards no ocuparán más del 80% del ancho del slider */
    margin: 0 auto; /* Centra las cards dentro de cada slide */
    min-height: 300px; /* Asegura que todas las cards tengan al menos esta altura */
}

.card-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la card */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-height: 500px; /* Limita la altura máxima (ajústalo según tu diseño) */
    border-radius: 15px; /* Mantén las esquinas redondeadas */
    object-fit: cover; /* Hace que la imagen se recorte para ajustarse al contenedor */
}

.message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #191D1E;
    text-decoration: none;
    background: #52A5B4;
    margin: 20px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.message-button:hover {
    background: #64c8da;
/*     border: 1px solid #191D1E;
    color: #191D1E;  */
}

.swiper-button-prev,
.swiper-button-next {
    z-index: 10;
}

@media (max-width: 1224px) {
    .swiper{
        width: 100% !important;
    }
}

@media (max-width: 860px) {

  }

  @media (max-width: 320px) {


  }