<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card-item">
                <div class="offer">Oferta</div>
                <div  class="amd"><img src="../../Img/marcas/AMD-Ryzen-qe15uiiffb82zivyc03fhjy9m4qvtr7dsnqyf5pudc.png" alt=""></div>
                <div  class="ocelot"><img src="../../Img/marcas/ocelot-512x512-1-300x300.png" alt=""></div>
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 1">
                <div class="name">Puma Gamer</div>
                <div class="price"> $18,400.50</div>
                <div class="specs">
                    <div class="peace"><i class="bi bi-cpu"></i> <strong>Procesador:</strong> <br> AMD RYZEN 7 5700</div>
                    <div class="peace"><i class="bi bi-gpu-card"></i> <b>Tarjeta de video:</b> <br> ZOTAC RTX 4060  8GB</div>
                    <div class="peace"><i class="bi bi-memory"></i> RAM: <br> 16GB DDR5</div>
                    <div class="peace"><i class="bi bi-sd-card"></i> Almacenamiento: <br> M2 1TB WESTERN DIGITAL</div>
                    <div class="peace"><i class="bi bi-motherboard"></i> Tarjeta Madre: <br> GIGABYTE B550M DS3H AC </div>
                    <div class="peace"><i class="bi bi-lightning-charge"></i>  MSI MAG A650BN 650W 80 PLUS BRONZE</div>
                    <div class="peace"><i class="bi bi-hypnotize"></i> Enfriamiento: <br> Líquido de 240mm</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <div class="intel">
                    <img src="../../Img/marcas/Intel-qe15un7mdheilkp4kk4kc0rkl23pw8q1hb0dtjivj2.png" alt="">
                </div>
                <div class="nvidia">
                    <img src="../../Img/marcas/Nvidia-qe15uqyz4tjnw0jnylr2lzteyll6r14yttmbqndasi.png" alt="">
                </div>
                <div class="offer">Oferta</div>
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 1">
                <div class="name">Puma Gamer</div>
                <div class="price"> $18,400.50</div>
                <div class="specs">
                    <div class="peace"><i class="bi bi-cpu"></i> Procesador: <br> AMD RYZEN 7 5700</div>
                    <div class="peace"><i class="bi bi-gpu-card"></i> Tarjeta de video: <br> ZOTAC RTX 4060  8GB</div>
                    <div class="peace"><i class="bi bi-memory"></i> RAM: <br> 16GB DDR5</div>
                    <div class="peace"><i class="bi bi-sd-card"></i> Almacenamiento: <br> M2 1TB WESTERN DIGITAL</div>
                    <div class="peace"><i class="bi bi-motherboard"></i> Tarjeta Madre: <br> GIGABYTE B550M DS3H AC </div>
                    <div class="peace"><i class="bi bi-lightning-charge"></i>  MSI MAG A650BN 650W 80 PLUS BRONZE</div>
                    <div class="peace"><i class="bi bi-hypnotize"></i> Enfriamiento: <br> Líquido de 240mm</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <div class="offer">Oferta</div>
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 1">
                <div class="name">Puma Gamer</div>
                <div class="price"> $18,400.50</div>
                <div class="specs">
                    <div class="peace"><i class="bi bi-cpu"></i> Procesador: <br> AMD RYZEN 7 5700</div>
                    <div class="peace"><i class="bi bi-gpu-card"></i> Tarjeta de video: <br> ZOTAC RTX 4060  8GB</div>
                    <div class="peace"><i class="bi bi-memory"></i> RAM: <br> 16GB DDR5</div>
                    <div class="peace"><i class="bi bi-sd-card"></i> Almacenamiento: <br> M2 1TB WESTERN DIGITAL</div>
                    <div class="peace"><i class="bi bi-motherboard"></i> Tarjeta Madre: <br> GIGABYTE B550M DS3H AC </div>
                    <div class="peace"><i class="bi bi-lightning-charge"></i>  MSI MAG A650BN 650W 80 PLUS BRONZE</div>
                    <div class="peace"><i class="bi bi-hypnotize"></i> Enfriamiento: <br> Líquido de 240mm</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <div class="offer">Oferta</div>
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 1">
                <div class="name">Puma Gamer</div>
                <div class="price"> $18,400.50</div>
                <div class="specs">
                    <div class="peace"><i class="bi bi-cpu"></i> Procesador: <br> AMD RYZEN 7 5700</div>
                    <div class="peace"><i class="bi bi-gpu-card"></i> Tarjeta de video: <br> ZOTAC RTX 4060  8GB</div>
                    <div class="peace"><i class="bi bi-memory"></i> RAM: <br> 16GB DDR5</div>
                    <div class="peace"><i class="bi bi-sd-card"></i> Almacenamiento: <br> M2 1TB WESTERN DIGITAL</div>
                    <div class="peace"><i class="bi bi-motherboard"></i> Tarjeta Madre: <br> GIGABYTE B550M DS3H AC </div>
                    <div class="peace"><i class="bi bi-lightning-charge"></i>  MSI MAG A650BN 650W 80 PLUS BRONZE</div>
                    <div class="peace"><i class="bi bi-hypnotize"></i> Enfriamiento: <br> Líquido de 240mm</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <div class="offer">Oferta</div>
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 1">
                <div class="name">Puma Gamer</div>
                <div class="price"> $18,400.50</div>
                <div class="specs">
                    <div class="peace"><i class="bi bi-cpu"></i> Procesador: <br> AMD RYZEN 7 5700</div>
                    <div class="peace"><i class="bi bi-gpu-card"></i> Tarjeta de video: <br> ZOTAC RTX 4060  8GB</div>
                    <div class="peace"><i class="bi bi-memory"></i> RAM: <br> 16GB DDR5</div>
                    <div class="peace"><i class="bi bi-sd-card"></i> Almacenamiento: <br> M2 1TB WESTERN DIGITAL</div>
                    <div class="peace"><i class="bi bi-motherboard"></i> Tarjeta Madre: <br> GIGABYTE B550M DS3H AC </div>
                    <div class="peace"><i class="bi bi-lightning-charge"></i>  MSI MAG A650BN 650W 80 PLUS BRONZE</div>
                    <div class="peace"><i class="bi bi-hypnotize"></i> Enfriamiento: <br> Líquido de 240mm</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <div class="offer">Oferta</div>
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 1">
                <div class="name">Puma Gamer</div>
                <div class="price"> $18,400.50</div>
                <div class="specs">
                    <div class="peace"><i class="bi bi-cpu"></i> Procesador: <br> AMD RYZEN 7 5700</div>
                    <div class="peace"><i class="bi bi-gpu-card"></i> Tarjeta de video: <br> ZOTAC RTX 4060  8GB</div>
                    <div class="peace"><i class="bi bi-memory"></i> RAM: <br> 16GB DDR5</div>
                    <div class="peace"><i class="bi bi-sd-card"></i> Almacenamiento: <br> M2 1TB WESTERN DIGITAL</div>
                    <div class="peace"><i class="bi bi-motherboard"></i> Tarjeta Madre: <br> GIGABYTE B550M DS3H AC </div>
                    <div class="peace"><i class="bi bi-lightning-charge"></i>  MSI MAG A650BN 650W 80 PLUS BRONZE</div>
                    <div class="peace"><i class="bi bi-hypnotize"></i> Enfriamiento: <br> Líquido de 240mm</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Swiper Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Swiper Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>