<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card-item">
                <img src="./aerocool-logo.png" alt="Tinaco 1">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="./marcas/923693-qe15tc7ovrm6h2le6zt7vcmivsjd7djgmue3tpgke8.png" alt="Tinaco 2">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="" alt="Tinaco 3">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="" alt="Tinaco 4">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="" alt="Tinaco 5">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="" alt="Tinaco 6">
                <button class="message-button">Contacto</button>
            </div>
        </div>
    </div>

    <!-- Swiper Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Swiper Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>