<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card-item">
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 1">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 2">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 3">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 4">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 5">
                <button class="message-button">Contacto</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-item">
                <img src="../../Img/pcgamercdmx.net/Pngs-Febrero-1-GABINETE+AEROCOOL+SPLINTER+DUO.png" alt="Pc Gamer 6">
                <button class="message-button">Contacto</button>
            </div>
        </div>
    </div>

    <!-- Swiper Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Swiper Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>