<div class="scarrusel-productos">
    <div class="carrusel-track">
        <div class="marca">
            <img src="../../Img/marcas/aerocool-logo.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/923693-qe15tc7ovrm6h2le6zt7vcmivsjd7djgmue3tpgke8.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/Nvidia-qe15uqyz4tjnw0jnylr2lzteyll6r14yttmbqndasi.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/AMD-Ryzen-qe15uiiffb82zivyc03fhjy9m4qvtr7dsnqyf5pudc.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/EVGA-qe15uuqbw5ot6ge7cndkvyv9c52nltjw6c89nr7pjw.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/index_logo_new01-qe15toflcm2wo03n7n3d9rjilsv4zfvz0ivf2ayfzi.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/Intel-qe15un7mdheilkp4kk4kc0rkl23pw8q1hb0dtjivj2.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/kingston-logo-qe15tqb9qa5hb80wwnwmer2fsklveu3fos6e0uvmvk.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/Logitechpng-qe15tww524ehkhrcu8r0e7eny9pfwptk1oqsdslwwg.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/MSI-qe15ugmr1n5icayomza6ckfcfd05eczx4efzglsmlc.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/Noctua-qe15u78d5asn47cc5v7wnmsqhiah9dylr3x4nu6jw0.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/pngwing.com-1-qe15tu2mhmamlnvgapj4oq4a643c9mid1asbxyq2yq.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/pngwing.com-2-qe15u2j674m7i5j5xb6rt5zfikxn6wfy2gnp9gdipg.png" alt="" />
        </div>
        <div class="marca">
            <img src="../../Img/marcas/Redragon-qe15tf17g9q1fwhaqj13ktwwny5gugunn8ck9jcdre.png" alt="" />
        </div>

    </div>
</div>