<nav class="navbar">
  <!--         <div class="contacto">
                <p>Cotiza </p>
                <a href="tel:55 5512 7560" class="telefono"><b>55 5512 7560</b></a>
            </div> -->
  <!-- menu -->
  <div class="menu">
    <div class="logo">
      <a href="index.html">MiLogo</a>
    </div>
    <!-- Botón Hamburguesa -->
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" id="nav-links">
      <li><a href="../../index.html">Inicio</a></li>
      <li><a href="../../pages/blog/blog.html">blog</a></li>
      <li><a href="https://pcgamercdmx.com.mx/">Servicios</a></li>
      <li><a href="../../pages/nosotros/nosotros.html">Nosotros</a></li>
      <li><a href="../../pages/contacto/contact.html">Contacto</a></li>
    </ul>

    <div class="social-media">
      <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i> </a>
    </div>
  </div>
</nav>
