@charset "UTF-8";
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  top: 0;
  left: 0;
}

.menu-movil {
  display: none;
}

.navbar .navbar-container {
  width: 65%;
  min-width: 750px;
  position: relative;
  clip-path: polygon(
    30% 0%, 
    70% 0%, 
    100% 0%, 
    100% 60%, 
    95% 81%, 
    55% 81%, 
    53% 95%, 
    47% 95%, 
    45% 81%, 
    5% 81%, 
    0% 60%, 
    0% 0%);
}

#menu {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,0 100,0 100,60 95,80 55,80 53,93 47,93 45,80 5,80 0,60" fill="none" stroke="%233e37c9" stroke-width="4"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px; 
  height: 100px;
}

.navbar #menu_rave {
  width: calc(65% + 5px);
  min-width: 750px;
  height: 85px;
  position: fixed;
  top: 0;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.navbar #menu {
  background-color: #3e37c986;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 80px;
  position: relative;
}

.navbar .nav-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  position: relative;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.navbar .left-menu {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  align-items: center;
  padding-right: 50px;
  z-index: 3;
}

.navbar .right-menu {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  align-items: center;
  padding-left: 50px;
  z-index: 3;
}

.navbar .left-menu li,
.navbar .right-menu li {
  display: inline-block;
  margin: 0 15px 10px 0px;
}

.navbar .left-menu li,
a,
.navbar .right-menu li,
a {
  color: #72bf6f;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .left-menu li:hover a,
.navbar .right-menu li:hover a {
  color: #ffcc00;
  /* Cambia el color */
  text-shadow: 0px 0px 5px rgba(255, 204, 0, 0.8);
  /* Efecto de brillo */
  transform: scale(1.1);
  /* Hace el texto un poco más grande */
  transition: all 0.0s ease-in-out;
}

.navbar .nav-links a {
  color: #726f6b;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 5px;
  transition: all 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #474444;
}

.navbar .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(30px at center);
  background-color: #e63030;
  z-index: 10;
  transition: all 0.3s;
}

.navbar .logo:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.navbar .logo a {
  font-weight: bold;
  text-decoration: none;
}

.navbar .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar .sidebar li {
  width: 100%;
}

.navbar .sidebar a {
  width: 100%;
}

.navbar .menu-list:before {
  border-right: 15px solid transparent;
  border-top: 15px solid #fcee0a;
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger span {
  background-color: #FFFAF6;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Responsive */
@media (max-width: 1202px) {
  .navbar .left-menu li,
a,
.navbar .right-menu li,
a {
  font-size: 18px;
}
  
}
@media (max-width: 768px) {
  .navbar {
    position: fixed;
  }

  .navbar .navbar-container {
    width: 100%;
    min-width: 100%;
    position: relative;
    clip-path: none !important;
    background-color: none !important;
  }

  .navbar #menu {
    background-color: transparent !important;
    backdrop-filter: none;
  }

  #menu {
    background-image: none;
  }

  .navbar #menu_rave {
    display: none;
  }
  .menu-movil {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(16, 1, 44, 0.9);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(25px at center);
    background-color: #F72585;
    z-index: 10;
    transition: all 0.3s;
  }

  .navbar .logo:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  .navbar .logo a {
    text-decoration: none;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 45px;
    z-index: 30;
    padding: 0px 0px 0px 25px;
  }

  .navbar .left-menu,
  .navbar .right-menu {
    display: none;
  }
  .menu-movil li:first-child{
    padding-top: 100px;
  }
  .menu-movil li a {
    font-size: 25px !important;
  }
  .menu-movil li {
    padding: 30px 0px 0px 0px;
  }
  .redes-menu{
    position: absolute;
    top: 93%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    
  }
  .redes-menu a i {
    font-size: 40px;
  }

ul {
  list-style: none; /* Elimina los puntos de lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Opcional: elimina el margen por defecto */
}
.navbar ul {
  list-style: none;
}

  .menu-movil.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }


  .hamburger span {
    background-color: #FFFAF6;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}