<nav class="navbar">
    <div class="navbar-container">
        <div id="menu">
            <!-- Botón Hamburguesa -->

            <div class="nav-container">
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- Logo Centrado -->
                <div class="logo">
                    <a href="../../index.html">MiLogo</a>
                </div>

                <!-- Menú Izquierdo -->
                <ul class="left-menu">
                    <li><a href="../../pages/blog/blog.html">Blog</a></li>
                    <li><a href="../../pages/servicios/servicios.html">Servicios</a></li>
                    <li><a href="../../pages/nosotros/nosotros.html">Nosotros</a></li>
                </ul>

                <!-- Menú Derecho -->
                <ul class="right-menu">
                    <li><a href="../../pages/contacto/contact.html">Contacto</a></li>
                    <li><a href="../../pages/contacto/contact.html">Galeria</a></li>
                    <li><a href="../../pages/contacto/contact.html">Pc Gamer</a></li>
                </ul>
                <ul class="sidebar">
                    <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
                                viewBox="0 96 960 960" width="26">
                                <path
                                    d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
                            </svg></a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <svg id="menu_rave" viewBox="0 0 100 100" preserveAspectRatio="none">
        <!-- Se define el polígono usando las coordenadas equivalentes a los porcentajes -->
        <polygon points="
        0,0
        100,0
        100,60
        95,80
        55,80
        53,100
        47,100
        45,80
        5,80
        0,60
      " />
    </svg>
</nav>