<nav class="navbar">
    <div class="navbar-container">
        <div id="menu">
            <!-- Botón Hamburguesa -->

            <div class="nav-container">
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- Logo Centrado -->
                <div class="logo">
                    <a href="../../index.html">MiLogo</a>
                </div>

                <!-- Menú Izquierdo -->
                <ul class="left-menu">
                    <li><a href="../../pages/blog/blog.html">Blog</a></li>
                    <li><a href="../../pages/servicios/servicios.html">Servicios</a></li>
                    <li><a href="../../pages/nosotros/nosotros.html">Nosotros</a></li>
                </ul>

                <!-- Menú Derecho -->
                <ul class="right-menu">
                    <li><a href="../../pages/contacto/contact.html">Contacto</a></li>
                    <li><a href="../../pages/contacto/contact.html">Galeria</a></li>
                    <li><a href="../../pages/contacto/contact.html">Pc Gamer</a></li>
                </ul>
                <!-- Menú Móvil -->
                <ul class="menu-movil">
                    <li><a href="../../pages/blog/blog.html">Blog</a></li>
                    <li><a href="../../pages/servicios/servicios.html">Servicios</a></li>
                    <li><a href="../../pages/nosotros/nosotros.html">Nosotros</a></li>
                    <li><a href="../../pages/contacto/contact.html">Contacto</a></li>
                    <li><a href="../../pages/contacto/contact.html">Galeria</a></li>
                    <li><a href="../../pages/contacto/contact.html">Pc Gamer</a></li>
                </ul>
            </div>
        </div>
    </div>
    <svg id="menu_rave" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="
        0,0
        100,0
        100,60
        95,80
        55,80
        53,95
        47,95
        45,80
        5,80
        0,60
      "      
    fill="none" 
    stroke="#3e37c9"  
    stroke-width="2"/>
    </svg>
</nav>