 /* contacto numero */
/*  .contacto {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px 20px;
    background-color: #52A5B4;
    width: 100%; 
  } */
    
  /* Navbar */
  .navbar {
    margin: auto; /* Centra horizontalmente */
    flex-direction: column;
    position: fixed;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.2s ease-out;
    z-index: 999;
}

/* seccion del menu */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff9a;
  width: 95%; /* Usa el 95% del ancho */
  max-width: 1200px; /* Límite opcional para que no sea demasiado ancho */
  margin: 0 auto; /* Centra el menú dentro del navbar */
  border-radius: 10px; /* Opcional, añade esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

  
  /* Botón Hamburguesa */
  .hamburger {
    display: none; /* Se mostrará solo en dispositivos pequeños */
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .hamburger span {
    background-color: #FFFAF6;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  
  /* Logo */
  .logo{
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .logo:hover{
    transform: scale(1.2);
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFAF6;
    text-decoration: none;
  }
  
  /* Enlaces de navegación */
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0; /* Elimina el espacio adicional */
}
  
  .nav-links.responsive {
    display: block; /* Mostrar menú desplegado */
    flex-direction: column;
    background-color: #ffca99b6;
    position: absolute;
    top: 90px; /* Ajustar para evitar solapamiento con la barra */
    right: 0;
    width: 100%;
    padding: 10px 0;
  }
  
  .nav-links li {
    text-align: center;
    margin: 10px 0;
    padding-inline: 5px;
    
  }
  
  .nav-links a {
    color: #726f6b;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 15px;
  }
  
  .nav-links a:hover {
    color: #474444;
  }
  
  /* Redes sociales */
  .social-media a {
    margin-left: 15px;
    color: #726f6b;
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  .social-media a:hover {
    color: #ddd;
  }